body{
        background-image: url(img/bg\ img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

h1{
    background-color: aqua;
    display: inline-block;
}

h2{
    background-color: aquamarine;
    display: block;
}

h3{
    background-color: white;
    display: inline-flexbox

}
